// Main navigation
.main-nav {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 10;

    ul {
        display: flex;
        li {
            margin-left: 20px;

            &:hover {
                @extend .content-line;
            }

            a {

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

@include media-down(s) {
    .main-nav {
        z-index: 10;
        ul {
            position: absolute;
            background: #0b1725aa ;
            backdrop-filter: blur(10px);
            color: $secondary;
            height: 100vh;
            width: 100%;
            top: 0;
            padding: 0;
            right: -100%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: 0.2s;

            &.menu-active {
                right: 0;
            }

            li {
                margin: 0;

                a {
                    padding: 20px;
                    font-size: 24px;
                }
            }
        }
    }
}

